/* CSS Document */
*{ margin:0px; padding:0px; font-family:"微软雅黑"; font-size:12px;}
img{ border:none; display:block;}
h1, h2, h3,{ font-weight:normal;}
a{ text-decoration:none; color:#666; }
li{ list-style:none;}
em{ font-weight:normal;}